<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .nav-sidebar {
            width: 100%;
            padding: 8px 0;
            border-right: 1px solid #ddd;
        }

            .nav-sidebar a {
                color: #333;
                -webkit-transition: all 0.08s linear;
                -moz-transition: all 0.08s linear;
                -o-transition: all 0.08s linear;
                transition: all 0.08s linear;
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
            }

            .nav-sidebar .active a {
                cursor: default;
                background-color: #428bca;
                color: #fff;
                text-shadow: 1px 1px 1px #666;
            }

                .nav-sidebar .active a:hover {
                    background-color: #428bca;
                }

            .nav-sidebar .text-overflow a,
            .nav-sidebar .text-overflow .media-body {
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
    </style>
</head>
<body>
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li>@Html.ActionLink("User LogIn", "Index", "User")</li>
                    <li>@Html.ActionLink("Cancel Ticket", "CancelTicketView", "Ticket")</li>

                </ul>
            </nav>
        </div>

</body>
</html>
