
@{
    ViewBag.Title = "ViewSeat";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<link rel="stylesheet" href="~/Content/SeatPlan.css" />
<script>
    $(document).ready(function () {
    var settings = {
        rows: 10,
        cols: 4,
        rowCssPrefix: 'row-',
        colCssPrefix: 'col-',
        seatWidth: 35,
        seatHeight: 35,
        seatCss: 'seat',
        selectedSeatCss: 'selectedSeat',
        selectingSeatCss: 'selectingSeat'
        };

        var perSeatFare =@Html.Raw(Json.Encode(ViewBag.Fare));
        $("#perFare").text(perSeatFare);
        var seatName =  @Html.Raw(Json.Encode(ViewBag.SeatNameList));
        var availableSeats = @Html.Raw(Json.Encode(ViewBag.SeatNoList));
        var dateWiseTripId =@Html.Raw(Json.Encode(ViewBag.DateWiseTripId));

    var init = function (availableSeats) {
        var str = [], seatNo, className;
        for (i = 0; i < settings.rows; i++) {
            for (j = 0; j < settings.cols; j++) {
                seatNo = (i * settings.cols + j + 1);
                className = settings.seatCss + ' ' + settings.rowCssPrefix + i.toString() + ' ' + settings.colCssPrefix + j.toString();
                if ($.isArray(availableSeats) && $.inArray(seatNo, availableSeats) == -1) {
                    className += ' ' + settings.selectedSeatCss;
                }

                str.push('<li class="' + className + '"' +
                    'style="top:' + (i * settings.seatHeight).toString() + 'px;left:' + (j * settings.seatWidth).toString() + 'px">' +
                    '<a title="' + seatName[seatNo-1] + '">' + seatName[seatNo-1] + '</a>' +
                    '</li>');
            }
        }
        $('#place').html(str.join(''));
    };
    //case I: Show from starting
    //init();
    //Case II: If already booked



        debugger;
    // var bookedSeats = [5, 10, 25];
        init(availableSeats);
    var noOfSelectedSeat = 0;
        var totalFare = 0;
        var seatList = [], item;
    $('.' + settings.seatCss).click(function () {

        var str = [];
        if ($(this).hasClass(settings.selectedSeatCss)) {
            alert('This seat is already reserved');
        }
        else {
            $(this).toggleClass(settings.selectingSeatCss);

        }

        noOfSelectedSeat = $('#place li.' + settings.selectingSeatCss + ' a').length;

        $.each($('#place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            item = $(this).attr('title');
            str.push(item);

        });
        totalFare = noOfSelectedSeat * perSeatFare;
        $("#totalFare").text(totalFare);
        $("#selectedSeats").text(str.join(','));
        seatList = str;
    });

        $('#purchase').click(function () {
            debugger;
            if (seatList.length==0) {
                alert("No seat is selected");
                return false;
            }
            var queryString = seatList.join(",");
            window.location.href = '/Ticket/ShowTicketInfo?seatList=' + queryString + '&totalFare=' + totalFare + '&dateWiseTripId=' + dateWiseTripId;
        })


});


</script>
<div id="ViewSeat">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-8 ">
            <div class="col-lg-12 ">
                <h2 style="text-align:center">Choose Seat</h2>
                <div class="row" id="holder">
                    <ul id="place"></ul>
                </div>
                <div id="seatColorInd" class="row">
                    <ul id="seatDescription">
                        <li>Available Seat</li>
                        <li style="background-color: #696e72;">Reserved Seat</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4" style="margin-top:63px">
            <div class="row">
                <lebel style="font-size:larger; font-weight:normal">Selected Seats:</lebel>
                <label style="font-size:x-large" id="selectedSeats"></label>
                <hr/>
            </div>
            <div class="row">
                <label style="font-size:larger; font-weight:normal">Fare per seat:</label>
                <lebel style="font-size:x-large" id="perFare"></lebel>
                <hr/>
            </div>
            <div class="row">
                <label style="font-size:larger;font-weight:normal">Total Fare:</label>
                <label id="totalFare"></label>
                <hr/>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-4 col-lg-5">
                    <button class="btn btn-primary" type="submit" id="purchase">Continue Purchase</button>
                </div>
               
            </div>
        </div>
    </div>
</div>








@*$('#btnShow').click(function () {

        var str = [];
        $.each($('#place li.' + settings.selectedSeatCss + ' a, #place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            str.push($(this).attr('title'));
        });
        alert(str.join(','));
    })


    $('#btnShowNew').click(function () {
        $.each($('#place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
            item = $(this).attr('title');
            seatList.push(item);
        });
        alert(seatList.join(','));
        })*@
@*<h2> Choose seats by clicking the corresponding seat in the layout below:</h2>
    <div>
         @for (int i = 0; i < 10; i++)
         {
             for (int j = 0; j < 4; j++)
             {
                 {
                     var seatNo = i * 4 + @j + 1;
                     // var bookedSeats = ViewBag.SeatList;
                     if ((ViewBag.SeatList).Contains(seatNo))
                         <a class="">@seatNo</a>
                     }
                 }

             }
     </div>*@

