
@{
    ViewBag.Title = "Dash Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2">
        @Html.Partial("NavbarPartial")
    </div>
    <h3>@ViewBag.Title</h3>
</div>

