
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2">
        @Html.Partial("NavbarPartial")
    </div>
    <h2>DashBoard</h2>
</div>

