
#holder {
    height: 368px;
    width: 170px;
    background-color: #F5F5F5;
    border: 5px solid #A4A4A4;
    float:none;
    margin:auto;
    position:relative;
}

#place {
    position: relative;
    margin: 7px;
}

    #place a {
        font-size: 1em;
        color:black;
    }

    #place li {
        list-style: none outside none;
        position: absolute;
    }

        #place li:hover {
            background-color: #068bc9;
        }

    #place .seat {
        
        border: 3px solid #A4A4A4;
        height: 33px;
        width: 33px;
        display: block;
        text-align:center;
    }

    #place .selectedSeat {
        background-color: #696e72;
    }

    #place .selectingSeat {
        background-image: url("../../Content/Picture/Green.png");
    }

    #place .col-2, #place .col-3 {
        margin-left: 12px;
    }

#seatDescription {
    list-style-type: none;
    padding:0px;
}
    #seatDescription li {
        /*verticle-align: middle;*/
        font-size: 1em;
        list-style: none outside none;
        float: left;
        border: 5px solid #A4A4A4;
        text-align: center;
        width: 85px;
        height: 45px;
        padding-bottom: 1em;
    }

#seatColorInd {
    margin: auto;
    float: none;
    padding-top:1em;
    
    width: 170px;
    height: 50px
}

#totalFare{
    font-size:x-large;
}
