
#holder {
    height: 370px;
    width: 155px;
    background-color: #F5F5F5;
    border: 1px solid #A4A4A4;
    margin-left: 10px;
}

#place {
    position: relative;
    margin: 7px;
}

    #place a {
        font-size: 0.6em;
    }

    #place li {
        list-style: none outside none;
        position: absolute;
    }

        #place li:hover {
            background-color: yellow;
        }

    #place .seat {
        //background: url("../../Content/Picture/images.png") no-repeat scroll 0 0 transparent;
        border: 1px solid #A4A4A4;
        height: 33px;
        width: 33px;
        display: block;
    }

    #place .selectedSeat {
        background-image: url("../../Content/Picture/Red.png");
    }

    #place .selectingSeat {
        background-image: url("../../Content/Picture/Green.png");
    }

    #place .row-3, #place .row-4 {
        margin-top: 8px;
    }

#seatDescription li {
    /*verticle-align: middle;*/
    list-style: none outside none;
    padding-left: 35px;
    height: 35px;
    float: left;
}

